<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.afinally">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu"
            android:label="เมนูระบบบัญชี"/>
        <activity android:name=".Income"
            android:label="รายงานเช็ครับ"/>
        <activity android:name=".Pay"
            android:label="รายงานเช็คจ่าย"/>
        <activity android:name=".Cincome"
            android:label="จัดการเช็ครับ"/>
        <activity android:name=".Cpay"
            android:label="จัดการเช็คจ่าย"></activity>
        <activity android:name=".Pisudyod"
            android:label="รายงานพิสูจน์ยอด"
            android:theme="@style/AppTheme.NoActionBar">
            ></activity>
    </application>

</manifest>